
body{
    box-sizing: border-box;
}
.body-wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    scale: 1.2;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    animation: wrraper 1s forwards ease;
    animation-delay: 4s;
    transition: all 0.3s ease;
}
@keyframes wrraper {
    0%{
        top: 50%;
        scale: 1.2;
    }
   25%{
        top: 50%;
        scale: 1;
    }
    75%{
        top: 80%;
        scale: 1;
    }
    100%{
        top: 80%;
        scale: 1;
    }
}
.body-wrapper
h3 
{
    display: flex;
    justify-content: center;
}
.body-wrapper
h3 span{
    display: block;
    background-color: #7623a9;
    padding: 10px 15px;
}
.body-wrapper h3 span:nth-child(1) {
    animation: first 1s forwards cubic-bezier(0.14, -0.22, 0.94, 0.57);
    animation-delay: 0s;
    visibility: hidden;
     opacity: 0;
}
.body-wrapper h3 span:nth-child(2) {
    animation: animate-forward 0.3s forwards cubic-bezier(0.14, -0.22, 0.94, 0.57);
    animation-delay: 1s;
    visibility: hidden;
        opacity: 0;
}
.body-wrapper h3 span:nth-child(3) {
    animation: animate-forwards 0.3s forwards cubic-bezier(0.14, -0.22, 0.94, 0.57);
    animation-delay: 2s;
    visibility: hidden;
        opacity: 0;
}
.body-wrapper p{
    animation: sec_first 1s forwards cubic-bezier(0.14, -0.22, 0.94, 0.57);
    animation-delay: 3s;
    visibility: hidden;
     opacity: 0;
}

@keyframes sec_first {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes first {
    0% {
        visibility: hidden;
        opacity: 0;
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}
@keyframes animate-forward {
    0% {
        transform: rotate(-91deg);
        visibility: hidden;
        opacity: 0;
    }
    100%{
        transform: rotate(0deg);
        visibility: visible;
        opacity: 1;
    }
}
@keyframes animate-forwards {
    0% {
        transform: rotate(91deg);
        visibility: hidden;
        opacity: 0;
    }
    100%{
        transform: rotate(0deg);
        visibility: visible;
        opacity: 1;
    }
}